// 色彩
$color-primary: #1563B0;

$color-secondary: #DD2400;

$color-title: #2f2f2f;
$color-content: #5A5A5A;
$color-border: #D1D1D1;

$color-grey-dark: #777;

$color-white: #ffffff;
$color-black: #141414;
$color-yellow: #FFF06C;
$color-yellow-light: #FFD86B;
$color-error: #F56C6C;
$color-success: #67C23A;
$color-warning: #E6A23C;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 160rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// web nav
$nav1-size: 1.8rem;
$nav1-color: $color-white;
$nav1-color-active: $color-primary;
$nav1-bg: transparent;
$nav1-bg-active: linear-gradient(to bottom, $color-white, transparent);

$nav2-wrapper: $color-white;
$nav2-size: 1.8rem;
$nav2-color: $color-title;
$nav2-color-active: $color-white;
$nav2-bg: transparent;
$nav2-bg-active: $color-primary;

$nav3-wrapper: $color-white;
$nav3-size: 1.8rem;
$nav3-color: $color-title;
$nav3-color-active: $color-white;
$nav3-bg: transparent;
$nav3-bg-active: $color-primary;
