.footer {

  &__main {
    padding: 6rem 0;
    background: url(../images/footer-bg.png) no-repeat center center / cover;
  }

  &__heading {
    display: flex;
    font-size: 2.4rem;
    font-weight: 600;
    color: $color-white;

    .iconfont {
      font-size: 2.8rem;
      margin-right: 1rem;
    }

    p {
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 1.5rem;
        background: #FFFFFF;
        opacity: 0.3;
        border-radius: 1000px;
        position: absolute;
        left: -5px;
        right: -5px;
        top: 2.6rem;
      }
    }
  }

  &__fast-links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    border-right: 1px solid rgba($color: $color-border, $alpha: 0.4);

    @include respond(tab-port) {
      border-right: none;
    }

    a {
      width: 33.33%;
      font-size: 1.6rem;
      color: $color-white;
      margin-bottom: 1rem;

      &::before {
        content: "·";
        margin-right: 0.5rem;
      }
    }
  }

  &__qr {
    margin-top: 3rem;

    img {
      display: block;
      width: 13rem;
      height: 13rem;

      @include respond(tab-port) {
        margin: 0 auto;
      }
    }
  }

  &__selector {
    @include gridList(3rem, 2, 1, 1);
    padding-right: 2rem;
    margin-top: 3rem;
    border-right: 1px solid rgba($color: $color-border, $alpha: 0.4);

    @include respond(tab-port) {
      border-right: none;
      padding-right: 0;
    }
  }

  &__copyright {
    padding: 2.5rem;
    background-color: #00204E;

    p {
      max-width: 70rem;
      font-size: 1.4rem;
      line-height: 2;
      color: $color-white;
      text-align: center;
      margin: 0 auto;
    }
  }
}
