.header {
  height: 13rem;
  background: url(../images/header-bg.png) no-repeat center center / cover;
  border-bottom: 7px solid $color-primary;

  @include respond(tab-port) {
    height: 10rem;
    @include fixed(0, 0, auto, 0, 99999);
  }

  @include respond(phone) {
    height: 6rem;
    @include fixed(0, 0, auto, 0, 99999);
  }


  &__container {
    height: 100%;
    padding: 0 5.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      padding: 0 3rem;
    }

    @include respond(phone) {
      padding: 0 1rem;
    }

  }

  &__left {
    flex: none;
  }

  &__logo {
    img {
      display: block;
      width: 44rem;
      height: 8.2rem;

      @include respond(tab-port) {
        width: 40rem;
        height: auto;
      }

      @include respond(phone) {
        width: 20rem;
      }
    }
  }

  &__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__menus-open {
    display: none;
    @include absRight();
    right: 10rem;
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    color: $color-white;
    line-height: 6rem;
    text-align: center;

    @include respond(tab-port) {
      display: block;
    }

    @include respond(tab-port) {
      font-size: 3rem;
      right: 7rem;
    }

  }

  &__menus-close {
    font-size: 4rem;
    color: $color-white;
    position: absolute;
    left: 2rem;
    top: 1rem;
  }

  &__menus {
    display: flex;
    justify-content: flex-end;

    @include respond(tab-port) {
      @include fixed(0, 0, 0, 0, 99999);
      background-color: rgba($color-black, .8);
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
      transition: all .3s ease-in-out;
      justify-content: center;
      align-items: center;
    }

    &.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__nav-open {
    @include absRight();
    right: 3rem;
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    color: $color-white;
    line-height: 6rem;
    text-align: center;
    display: none;

    @include respond(tab-port) {
      display: block;
    }

    @include respond(tab-port) {
      font-size: 3rem;
      right: 1rem;
    }

  }

  &__nav-close {
    font-size: 4rem;
    color: $color-white;
    position: absolute;
    left: 2rem;
    top: 1rem;
  }

  &__nav {
    @include respond(tab-port) {
      @include fixed(0, 0, 0, 0, 99999);
      background-color: rgba($color-black, .8);
      transform: translate3d(-100%, 0, 0);
      opacity: 0;
      transition: all .3s ease-in-out;
    }

    &.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}

// 分割线
.web-menus {
  height: 4.6rem;
  padding: 0 2.5rem;
  background: $color-primary;
  border-radius: 0px 0px 1.5rem 1.5rem;
  margin-top: 1rem;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: transparent;
  }

  &>* {
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__item {
    font-size: 1.4rem;
    color: $color-white;
    line-height: 4.6rem;
    transition: all .3s ease-in-out;
    cursor: pointer;

    @include respond(tab-port) {
      font-size: 2rem;
      line-height: 7rem;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  .divider {
    width: 1px;
    height: 1.5rem;
    border-left: 1px solid $color-white;

    @include respond(tab-port) {
      display: none;
    }
  }
}


// web-nav
.web-nav {

  @include respond(tab-port) {
    @include fixed(0, 0, 0, auto, 99999);
    width: 35rem;
    background-color: $color-primary;
    overflow-y: auto;
  }

  // 1
  &__1-list {
    display: flex;
    justify-content: flex-end;

    @include respond(tab-port) {
      display: block;
    }
  }

  &__1-item {
    list-style: none;
    position: relative;
  }

  &__1-link {
    display: block;
    height: 5.5rem;
    padding: 0 2rem;
    border-radius: 1rem 1rem 0 0;
    font-size: $nav1-size;
    line-height: 5rem;
    color: $nav1-color;
    background: $nav1-bg;

    @include respond(tab-port) {
      padding: 0 4rem;
      border-bottom: 1px solid rgba($color: $color-white, $alpha: 0.2);
      border-radius: 0;
      height: auto;
      line-height: 7rem;
    }

    &.active {
      color: $nav1-color-active;
      font-weight: 600;
      background: $nav1-bg-active;

      @include respond(tab-port) {}
    }

    &--arrow {
      &::after {
        @include iconfont;
        content: "\eb6d";

        @include respond(tab-port) {
          display: none;
        }
      }
    }
  }

  &__1-open {
    display: none;

    @include respond(tab-port) {
      position: absolute;
      right: 0;
      top: 0.5rem;
      display: block;
      width: 6rem;
      height: 6rem;
      font-size: 2rem;
      color: $color-white;
      text-align: center;
      line-height: 6rem;
    }

  }

  // 2
  &__2-list {
    @include absolute(auto, auto, auto, 0, 9999);
    padding: 1rem 0;
    border-radius: 0 0 1rem 1rem;
    background-color: $nav2-wrapper;
    display: none;
    top: 5.5rem;

    @include respond(tab-port) {
      position: static;
      padding-left: 4rem;
      background-color: transparent;
    }
  }

  &__2-item {
    list-style: none;
    position: relative;
  }

  &__2-link {
    display: block;
    padding: 0.5rem 2rem;
    font-size: $nav2-size;
    line-height: 3rem;
    color: $nav2-color;
    white-space: nowrap;

    @include respond(tab-port) {
      color: $color-white;
      line-height: 5rem;
    }

    &:hover {
      color: $nav2-color-active;
      font-weight: 600;
      background: $nav2-bg-active;
    }

    &--arrow {
      &::after {
        @include iconfont;
        content: "\e63d";

        @include respond(tab-port) {
          display: none;
        }
      }
    }
  }

  &__2-open {
    display: none;

    @include respond(tab-port) {
      position: absolute;
      right: 0;
      top: 0.5rem;
      display: block;
      width: 6rem;
      height: 4rem;
      font-size: 2rem;
      color: $color-white;
      text-align: center;
      line-height: 4rem;
    }

  }

  // 3
  &__3-list {
    @include absolute(0, auto, auto, 100%, 9999);
    padding: 1rem 0;
    border-radius: 0 0 1rem 1rem;
    background-color: $color-white;
    display: none;
    border-left: 1px solid rgba($color: $color-primary, $alpha: .1);

    @include respond(tab-port) {
      position: static;
      padding-left: 6rem;
      border-left: none;
      background-color: transparent;
    }
  }

  &__3-link {
    display: block;
    padding: 0.5rem 2rem;
    font-size: $nav2-size;
    line-height: 3rem;
    color: $nav2-color;
    white-space: nowrap;

    @include respond(tab-port) {
      color: $color-white;
      line-height: 5rem;
    }

    &:hover {
      color: $nav2-color-active;
      font-weight: 600;
      background: $nav2-bg-active;
    }
  }
}
