// 内页
.inner-page {
  top: -5.8rem;
  position: relative;
  padding-bottom: 2rem;

  @include respond(tab-port) {
    top: 2rem;
  }

  &__wrapper {
    display: flex;
  }

  &__left {
    flex: none;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__medium {
    flex: 1;
    overflow: hidden;


    &--top {

    }

    &--bottom {
      padding-left: 4rem;

      &.pl-0 {
        padding-left: 0;
      }

      @include respond(tab-port) {
        padding-left: 0;
      }
    }
  }

  &__right {
    flex: none;
  }
}


.flex-row {
  display: flex;

  @include respond(tab-port) {
    display: block;
  }

  &--auto {
    flex: 1;
    padding-right: 2rem;

    @include respond(tab-port) {
      padding-right: 0;
    }
  }

  &--static {
    flex: none;
  }
}
