/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding-top: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  body {
    padding-top: 6rem;
  }
}

::selection {
  background-color: #1563B0;
  color: #ffffff;
}

body {
  font-family: fontNormal;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
}

h1,
h2,
h3,
h4 {
  font-family: fontHeavy;
}

.only-mobile {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .only-mobile {
    display: block;
  }
}

.only-pc {
  display: block;
}
@media only screen and (max-width: 56.25em) {
  .only-pc {
    display: none;
  }
}

.card .cover {
  overflow: hidden;
}
.card .cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}
.card:hover .cover img {
  transform: scale(1.1);
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 7rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 7rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.ratio-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  box-sizing: border-box;
  position: relative;
}
.ratio-image--1-of-2, .ratio-image--2-of-4 {
  padding-bottom: 50%;
}
.ratio-image--1-of-3 {
  padding-bottom: 33.33%;
}
.ratio-image--2-of-3 {
  padding-bottom: 66.66%;
}
.ratio-image--1-of-4 {
  padding-bottom: 25%;
}
.ratio-image--3-of-4 {
  padding-bottom: 75%;
}
.ratio-image--1-of-5 {
  padding-bottom: 20%;
}
.ratio-image--2-of-5 {
  padding-bottom: 40%;
}
.ratio-image--3-of-5 {
  padding-bottom: 60%;
}
.ratio-image--4-of-5 {
  padding-bottom: 80%;
}
.ratio-image__box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.ratio-image__source {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-button {
  font-size: 1.6rem;
  color: #666666;
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
}
.more-button:hover {
  color: #1563B0;
  font-weight: 600;
}
.more-button::before {
  content: "";
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  background: url(../images/more-icon.png) no-repeat center center/cover;
  margin-right: 4px;
}
.more-button::after {
  content: "";
  font-family: 'iconfont';
  content: "\e8c8";
  margin-left: 4px;
  font-size: 1.8rem;
}

.research-card {
  position: relative;
  transition: all .3s ease-in-out;
  border: 1px solid #D1D1D1;
}
.research-card:hover {
  box-shadow: 0px 16px 28px 4px rgba(33, 33, 33, 0.35);
  transform: translateY(-2rem);
}
.research-card:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 3px;
  background-color: #1563B0;
}
.research-card:hover .research-card__title {
  color: #1563B0;
  font-weight: 600;
}
.research-card__info {
  padding: 3rem 2rem 2rem 2rem;
  position: relative;
  background-color: #F9F9F9;
  transition: all .3s ease-in-out;
}
.research-card__date {
  width: 10rem;
  height: 3.3rem;
  background: #1563B0;
  border-radius: 1000px;
  text-align: center;
  font-size: 1.6rem;
  font-family: Times New Roman;
  font-weight: 600;
  line-height: 3.3rem;
  color: #ffffff;
  position: absolute;
  left: 2rem;
  top: 0;
  transform: translateY(-50%);
}
.research-card__title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #2f2f2f;
}
.research-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.class-card {
  padding: 2.5rem 3rem;
  position: relative;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  transition: all .3s ease-in-out;
}
.class-card:hover {
  box-shadow: 0px 16px 28px 4px rgba(33, 33, 33, 0.35);
  transform: translateY(-2rem);
}
.class-card:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 3px;
  background-color: #1563B0;
}
.class-card:hover .class-card__title {
  color: #1563B0;
  font-weight: 600;
}
.class-card__date {
  display: flex;
  justify-content: space-between;
}
.class-card__date span {
  font-size: 2rem;
  color: #1563B0;
  font-family: Times New Roman;
  font-weight: 400;
}
.class-card__title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #2f2f2f;
  line-height: 2.8rem;
  margin-top: 1rem;
}
.class-card__info {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #D1D1D1;
}
.class-card__info-item {
  display: flex;
  align-items: center;
}
.class-card__info-item:first-child {
  margin-bottom: 1rem;
}
.class-card__info-item span {
  flex: none;
  width: 22px;
  height: 22px;
  background: #1563B0;
  border-radius: 50%;
  margin-right: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
}
.class-card__info-item p {
  font-size: 1.4rem;
  color: #5A5A5A;
}
.class-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.notice-card {
  display: flex;
  padding: 1.5rem 2rem;
  position: relative;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  transition: all .3s ease-in-out;
}
.notice-card:hover {
  box-shadow: 0px 16px 28px 4px rgba(33, 33, 33, 0.35);
  transform: translateY(-2rem);
}
.notice-card:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 3px;
  background-color: #1563B0;
}
.notice-card:hover .notice-card__title {
  color: #1563B0;
  font-weight: 600;
}
.notice-card:hover .notice-card__tags span {
  background-color: #1563B0;
  color: #ffffff;
}
.notice-card__date {
  color: #1563B0;
  font-family: Times New Roman;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notice-card__day {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
}
.notice-card__month {
  font-size: 1.8rem;
  font-weight: 600;
}
.notice-card__info {
  padding-left: 2rem;
  margin-left: 2rem;
  border-left: 1px solid #D1D1D1;
}
.notice-card__tags {
  display: flex;
  margin-bottom: 1rem;
}
.notice-card__tags span {
  padding: 0 2rem;
  height: 2.4rem;
  line-height: 2.7rem;
  border: 1px solid #1563B0;
  font-size: 1.4rem;
  color: #1563B0;
  border-radius: 1.2rem;
  transition: all .3s ease-in-out;
}
.notice-card__tags span:not(:last-child) {
  margin-right: 1rem;
}
.notice-card__title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #2f2f2f;
}
.notice-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.news-image-card {
  position: relative;
}
.news-image-card:hover .news-image-card__cover img {
  transform: scale(1.05);
}
.news-image-card:hover .news-image-card__title {
  color: #1563B0;
}
.news-image-card__cover {
  height: 43rem;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .news-image-card__cover {
    height: 35rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .news-image-card__cover {
    height: 20rem;
  }
}
.news-image-card__cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}
.news-image-card__info {
  padding: 2.5rem 3rem;
  background-color: #EBEBEB;
}
.news-image-card__title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.8rem;
  color: #2f2f2f;
  transition: all .3s ease-in-out;
}
.news-image-card__date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 4.3rem;
  background: #1563B0;
  font-size: 2.2rem;
  color: #ffffff;
  font-family: Times New Roman;
  position: absolute;
  left: 0;
  top: 1.8rem;
}
.news-image-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.news-card {
  position: relative;
}
.news-card:hover .news-card__title {
  color: #DD2400;
}
.news-card:hover .news-card__date {
  color: #DD2400;
}
.news-card--new .news-card__title::before {
  content: "new";
  text-transform: uppercase;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 100px;
  background-color: #DD2400;
  font-size: 1.2rem;
  color: #ffffff;
  margin-right: 1rem;
}
.news-card__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-card__title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #2f2f2f;
  transition: all .3s ease-in-out;
}
.news-card__summary {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.4rem;
  color: #5A5A5A;
  margin-top: 1rem;
}
.news-card__date {
  padding-left: 2rem;
  font-size: 1.6rem;
  color: #5A5A5A;
  font-family: Times New Roman;
  transition: all .3s ease-in-out;
}
.news-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.inner-news-card {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card {
    display: block;
  }
}
.inner-news-card:hover .inner-news-card__left p {
  color: #1563B0;
}
.inner-news-card:hover .inner-news-card__left span {
  color: #1563B0;
  border: 1px solid #1563B0;
}
.inner-news-card:hover .inner-news-card__right h2,
.inner-news-card:hover .inner-news-card__right p {
  color: #1563B0;
}
.inner-news-card__left {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 7rem;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__left {
    padding-right: 0;
    flex-direction: row;
  }
}
.inner-news-card__left::after {
  content: "";
  width: 5rem;
  height: 2px;
  background-color: #D1D1D1;
  position: absolute;
  right: 0;
  top: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__left::after {
    display: none;
  }
}
.inner-news-card__left p {
  font-size: 3rem;
  color: #2f2f2f;
}
.inner-news-card__left span {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2f2f2f;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: 1px solid transparent;
  text-align: center;
}
.inner-news-card__medium {
  flex: none;
  padding-left: 2.4rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__medium {
    padding-left: 0;
    margin-bottom: 1rem;
  }
}
.inner-news-card__medium .cover {
  width: 18rem;
  height: 10rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__medium .cover {
    width: auto;
    height: 20rem;
  }
}
.inner-news-card__medium .cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner-news-card__right {
  padding-left: 2.4rem;
  height: 10rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__right {
    padding-left: 0;
  }
}
.inner-news-card__right h2 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #2f2f2f;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__right h2 {
    margin-bottom: 1rem;
  }
}
.inner-news-card__right p {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.4rem;
  color: #5A5A5A;
}
.inner-news-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.teacher-card {
  position: relative;
  display: flex;
}
.teacher-card__cover {
  flex: none;
  width: 15rem;
  height: 20rem;
}
.teacher-card__info {
  flex: 1;
  padding-left: 3.5rem;
}
.teacher-card__title {
  font-size: 2.4rem;
  color: #1563B0;
  margin-bottom: 1.2rem;
}
.teacher-card__tag {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #1563B0;
  margin-bottom: 0.8rem;
}
.teacher-card__more-box {
  display: flex;
  align-items: center;
}
.teacher-card__more-box::before {
  content: "";
  height: 1px;
  flex: 1;
  border-bottom: 1px solid #1563B0;
}
.teacher-card__more {
  display: block;
  padding: 0 2rem;
  border-radius: 100px;
  line-height: 3rem;
  background: #1563B0;
  font-size: 1.4rem;
  color: #ffffff;
}
.teacher-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.form-item {
  height: 100%;
}
.form-item--error input, .form-item--error textarea {
  outline: 2px solid #F56C6C !important;
}
.form-item--error small {
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
}
.form-item--success input, .form-item--success textarea {
  outline: 2px solid #67C23A !important;
}
.form-item--success small {
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
}
.form-item input {
  width: 100%;
  padding: 0 2rem;
  height: 100%;
  background: #F1F1F1;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: none;
  outline: none;
  border-radius: 2px;
}
.form-item textarea {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  background: #F1F1F1;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: none;
  outline: none;
  border-radius: 2px;
}
.form-item a,
.form-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background-color: #1563B0;
  font-size: 1.6rem;
  color: #ffffff;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.form-item a:active,
.form-item button:active {
  filter: brightness(0.8);
}
.form-item small {
  color: #F56C6C;
  transition: all .3s ease-in-out;
  transform: translate3d(0, -10px, 0);
  opacity: 0;
}

.search-input {
  display: flex;
  align-items: center;
}
.search-input__input {
  width: 20rem;
  padding: 0 2rem;
  height: 4rem;
  background: #F1F1F1;
  opacity: 1;
  border: none;
  outline: none;
  border-radius: 2rem 0 0 2rem;
}
.search-input__button {
  transition: all .3s ease-in-out;
  position: relative;
  display: block;
  width: 5rem;
  height: 4rem;
  background-color: #1563B0;
  border-radius: 0 2rem 2rem 0;
}
.search-input__button:hover {
  background-color: #1563B0;
  color: #ffffff;
}
.search-input__button:active {
  filter: brightness(0.8);
}
.search-input__button::after {
  content: "";
  font-family: 'iconfont';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "\e8d6";
  position: absolute;
  font-size: 2rem;
  color: #ffffff;
}

.custom-selector {
  width: 100%;
  height: 4rem;
  position: relative;
}
.custom-selector__input {
  background: rgba(20, 20, 20, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 1000px;
  position: relative;
  color: #1563B0;
}
.custom-selector__input::after {
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  bottom: auto;
  left: auto;
  z-index: 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-top: 8px solid rgba(255, 255, 255, 0.6);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.custom-selector__placeholder {
  width: 100%;
  height: 4rem;
  padding: 0 2rem;
  line-height: 4rem;
  font-size: 1.6rem;
  color: #ffffff;
  overflow: 0.6;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.custom-selector__options {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 50px;
  left: 0;
  z-index: 999;
  display: none;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(20, 20, 20, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.custom-selector__options a {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  border: 4px;
  color: #ffffff;
  line-height: 2;
  transition: 0.1s ease-in-out;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
}
.custom-selector__options a:last-child {
  border-bottom: none;
}
.custom-selector__options a:hover {
  background-color: #1563B0;
  color: #ffffff;
}

.back-top-menu {
  position: fixed;
  top: auto;
  right: 2rem;
  bottom: 8rem;
  left: auto;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid #1563B0;
  border-radius: 50%;
  background-color: #1563B0;
  color: #ffffff;
  transition: 0.3s cubic-bezier(0.53, -0.31, 0.56, 2.18);
  transform: translate3d(50px, 0, 0);
  opacity: 0;
  cursor: pointer;
}
.back-top-menu .iconfont {
  font-size: 20px;
}
.back-top-menu.show {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.back-top-menu:hover {
  background-color: #1563B0;
  border: 3px solid #1563B0;
}

.container {
  max-width: 120rem;
  padding: 0 8rem;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .container {
    padding: 0 3rem;
  }
}

.row {
  max-width: 120rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}
.row .col-1-of-5 {
  width: calc((100% - 4 * 6rem) / 5);
}
.row .col-2-of-5 {
  width: calc(2 * ((100% - 5 * 6rem) / 5) + 6rem);
}
.row .col-3-of-5 {
  width: calc(3 * ((100% - 5 * 6rem) / 5) + 2 * 6rem);
}
.row .col-4-of-5 {
  width: calc(4 * ((100% - 4 * 6rem) / 5) + 3 * 6rem);
}

.gallery {
  display: grid;
  grid-template-rows: repeat(4, 5rem);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .gallery {
    grid-template-rows: repeat(5, 5rem);
  }
}
.gallery__item--1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }
}
.gallery__item--2 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }
}
.gallery__item--3 {
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--3 {
    grid-row: 3 / span 2;
  }
}
.gallery__item--4 {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--4 {
    grid-row: 5 / span 1;
  }
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;
  margin-right: -2rem;
}
.card-row .card-col {
  box-sizing: border-box;
  padding: 2rem;
  width: 33.33%;
}
@media only screen and (max-width: 56.25em) {
  .card-row .card-col {
    width: 100%;
  }
}

img {
  display: block;
}

.header {
  position: relative;
}
.header img {
  display: block;
  width: 100%;
}
.header__info {
  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  text-align: center;
}
.header__info .text {
  font-size: 1.4rem;
  color: #ffffff;
}
.header__info .text strong::after {
  content: ":";
}
.header__info .link {
  display: inline-block;
  padding: 0.4rem 4rem;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.8rem;
  color: #ffffff;
  margin-top: 2rem;
}
.header__info .link:active {
  filter: brightness(0.8);
}

.nav-wrapper {
  text-align: center;
  background-color: #191d47;
}
.nav-wrapper nav a {
  line-height: 5rem;
  padding: 0 2rem;
  font-size: 1.4rem;
  color: #ffffff;
  position: relative;
  opacity: .9;
}
.nav-wrapper nav a:hover {
  opacity: 1;
}
.nav-wrapper nav a:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: "";
  width: 1px;
  height: 10px;
  border-right: 1px solid #D1D1D1;
}

main {
  background-color: #202a60;
  padding: 6rem 0;
}

.section {
  padding: 3rem;
  border-radius: 4rem;
  background-color: #171e47;
}
.section:not(:last-child) {
  margin-bottom: 6rem;
}
.section__heading {
  font-size: 2.6rem;
  color: #ffffff;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.section__heading::after {
  content: "";
  display: block;
  width: 20rem;
  height: 4px;
  background: url(../images/line.png) no-repeat center center/cover;
  margin-top: 1rem;
}
.section__heading--big {
  font-size: 3.2rem;
}
.section__heading--big::after {
  width: 10rem;
}
.section__content img {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}
.section__content h3 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.section__content h3::before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(to right, #674579, #a3d0f0);
  margin-right: .5rem;
}
.section__content > p {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 1.8;
  opacity: .9;
}
.section__content .origin-box {
  background-color: #ec6f52;
  padding: 3rem;
  border-radius: 2rem;
}
.section__content .origin-box > p {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 1.8;
  opacity: .9;
}
.section__content .origin-box > p.big {
  font-size: 1.6rem;
}
.section__content .origin-box > p.center {
  text-align: center;
}
.section__content .blue-box {
  background-color: #2c9dd8;
  padding: 3rem;
  border-radius: 2rem;
}
.section__content .blue-box--deep {
  background-color: #173e9d;
}
.section__content .blue-box > p {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 1.8;
}
.section__content .blue-box > p.big {
  font-size: 1.6rem;
}
.section__content .blue-box > p.center {
  text-align: center;
}

.award__list {
  padding: 0 4rem;
  display: flex;
  flex-wrap: wrap;
  margin: calc(-8rem / 2);
}
.award__list > .item {
  list-style: none;
  padding: calc(8rem / 2);
  width: calc((1 / 3) * 100%);
}
@media only screen and (max-width: 75em) {
  .award__list > .item {
    width: calc((1 / 3) * 100%);
  }
}
@media only screen and (max-width: 56.25em) {
  .award__list > .item {
    width: calc((1 / 1) * 100%);
  }
}
.award__list img {
  display: block;
  width: 100%;
}

.award-card {
  padding: 3rem 6rem;
  border-radius: 2rem;
  background-color: #173e9d;
}
.award-card__info {
  text-align: center;
}
.award-card__info h3 {
  font-size: 1.8rem;
  color: #ffffff;
}
.award-card__info p {
  font-size: 1.4rem;
  color: #ffffff;
}

.qr__list {
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  margin: calc(-4rem / 2);
}
.qr__list > .item {
  list-style: none;
  padding: calc(4rem / 2);
  width: calc((1 / 5) * 100%);
}
@media only screen and (max-width: 75em) {
  .qr__list > .item {
    width: calc((1 / 3) * 100%);
  }
}
@media only screen and (max-width: 56.25em) {
  .qr__list > .item {
    width: calc((1 / 2) * 100%);
  }
}

.qr-card img {
  display: block;
  width: 100%;
}
.qr-card p {
  text-align: center;
  font-size: 1.6rem;
  color: #ffffff;
  padding-top: 1rem;
}
