@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding-top: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  body {
    padding-top: 6rem;
  }
}

::selection {
  background-color: #1563B0;
  color: #ffffff;
}

body {
  font-family: fontNormal;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
}

h1,
h2,
h3,
h4 {
  font-family: fontHeavy;
}

.only-mobile {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .only-mobile {
    display: block;
  }
}

.only-pc {
  display: block;
}
@media only screen and (max-width: 56.25em) {
  .only-pc {
    display: none;
  }
}

.heading-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
  position: relative;
}

.heading {
  position: relative;
}
.heading::before {
  content: "";
  display: block;
  width: 23.4rem;
  height: 6.7rem;
  background: url(../images/heading-bg.png) no-repeat center center/cover;
  position: absolute;
  left: 0;
  bottom: 1.8rem;
  z-index: 0;
}
.heading .iconfont {
  font-size: 3.2rem;
  color: #1563B0;
}
.heading__text {
  font-size: 3.2rem;
  color: #2f2f2f;
  font-weight: 600;
  margin-left: 0.5rem;
  line-height: 1;
}

.card .cover {
  overflow: hidden;
}
.card .cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}
.card:hover .cover img {
  transform: scale(1.1);
}

.test-blank {
  height: 200px;
  background-color: red;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 7rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 7rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.percent {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
}
.percent__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: 800;
  color: #1563B0;
}
.percent__text::after {
  content: "%";
  font-size: 1.4rem;
}

.ratio-image {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  box-sizing: border-box;
  position: relative;
}
.ratio-image--1-of-2, .ratio-image--2-of-4 {
  padding-bottom: 50%;
}
.ratio-image--1-of-3 {
  padding-bottom: 33.33%;
}
.ratio-image--2-of-3 {
  padding-bottom: 66.66%;
}
.ratio-image--1-of-4 {
  padding-bottom: 25%;
}
.ratio-image--3-of-4 {
  padding-bottom: 75%;
}
.ratio-image--1-of-5 {
  padding-bottom: 20%;
}
.ratio-image--2-of-5 {
  padding-bottom: 40%;
}
.ratio-image--3-of-5 {
  padding-bottom: 60%;
}
.ratio-image--4-of-5 {
  padding-bottom: 80%;
}
.ratio-image__box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.ratio-image__source {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.more-button {
  font-size: 1.6rem;
  color: #666666;
  display: flex;
  align-items: center;
  transition: all .3s ease-in-out;
}
.more-button:hover {
  color: #1563B0;
  font-weight: 600;
}
.more-button::before {
  content: "";
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  background: url(../images/more-icon.png) no-repeat center center/cover;
  margin-right: 4px;
}
.more-button::after {
  content: "";
  font-family: 'iconfont';
  content: "\e8c8";
  margin-left: 4px;
  font-size: 1.8rem;
}

.research-card {
  position: relative;
  transition: all .3s ease-in-out;
  border: 1px solid #D1D1D1;
}
.research-card:hover {
  box-shadow: 0px 16px 28px 4px rgba(33, 33, 33, 0.35);
  transform: translateY(-2rem);
}
.research-card:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 3px;
  background-color: #1563B0;
}
.research-card:hover .research-card__title {
  color: #1563B0;
  font-weight: 600;
}
.research-card__info {
  padding: 3rem 2rem 2rem 2rem;
  position: relative;
  background-color: #F9F9F9;
  transition: all .3s ease-in-out;
}
.research-card__date {
  width: 10rem;
  height: 3.3rem;
  background: #1563B0;
  border-radius: 1000px;
  text-align: center;
  font-size: 1.6rem;
  font-family: Times New Roman;
  font-weight: 600;
  line-height: 3.3rem;
  color: #ffffff;
  position: absolute;
  left: 2rem;
  top: 0;
  transform: translateY(-50%);
}
.research-card__title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #2f2f2f;
}
.research-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.class-card {
  padding: 2.5rem 3rem;
  position: relative;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  transition: all .3s ease-in-out;
}
.class-card:hover {
  box-shadow: 0px 16px 28px 4px rgba(33, 33, 33, 0.35);
  transform: translateY(-2rem);
}
.class-card:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 3px;
  background-color: #1563B0;
}
.class-card:hover .class-card__title {
  color: #1563B0;
  font-weight: 600;
}
.class-card__date {
  display: flex;
  justify-content: space-between;
}
.class-card__date span {
  font-size: 2rem;
  color: #1563B0;
  font-family: Times New Roman;
  font-weight: 400;
}
.class-card__title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #2f2f2f;
  line-height: 2.8rem;
  margin-top: 1rem;
}
.class-card__info {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #D1D1D1;
}
.class-card__info-item {
  display: flex;
  align-items: center;
}
.class-card__info-item:first-child {
  margin-bottom: 1rem;
}
.class-card__info-item span {
  flex: none;
  width: 22px;
  height: 22px;
  background: #1563B0;
  border-radius: 50%;
  margin-right: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
}
.class-card__info-item p {
  font-size: 1.4rem;
  color: #5A5A5A;
}
.class-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.notice-card {
  display: flex;
  padding: 1.5rem 2rem;
  position: relative;
  background-color: #F9F9F9;
  border: 1px solid #D1D1D1;
  transition: all .3s ease-in-out;
}
.notice-card:hover {
  box-shadow: 0px 16px 28px 4px rgba(33, 33, 33, 0.35);
  transform: translateY(-2rem);
}
.notice-card:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 3px;
  background-color: #1563B0;
}
.notice-card:hover .notice-card__title {
  color: #1563B0;
  font-weight: 600;
}
.notice-card:hover .notice-card__tags span {
  background-color: #1563B0;
  color: #ffffff;
}
.notice-card__date {
  color: #1563B0;
  font-family: Times New Roman;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notice-card__day {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
}
.notice-card__month {
  font-size: 1.8rem;
  font-weight: 600;
}
.notice-card__info {
  padding-left: 2rem;
  margin-left: 2rem;
  border-left: 1px solid #D1D1D1;
}
.notice-card__tags {
  display: flex;
  margin-bottom: 1rem;
}
.notice-card__tags span {
  padding: 0 2rem;
  height: 2.4rem;
  line-height: 2.7rem;
  border: 1px solid #1563B0;
  font-size: 1.4rem;
  color: #1563B0;
  border-radius: 1.2rem;
  transition: all .3s ease-in-out;
}
.notice-card__tags span:not(:last-child) {
  margin-right: 1rem;
}
.notice-card__title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #2f2f2f;
}
.notice-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.news-image-card {
  position: relative;
}
.news-image-card:hover .news-image-card__cover img {
  transform: scale(1.05);
}
.news-image-card:hover .news-image-card__title {
  color: #1563B0;
}
.news-image-card__cover {
  height: 43rem;
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .news-image-card__cover {
    height: 35rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .news-image-card__cover {
    height: 20rem;
  }
}
.news-image-card__cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
}
.news-image-card__info {
  padding: 2.5rem 3rem;
  background-color: #EBEBEB;
}
.news-image-card__title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.8rem;
  color: #2f2f2f;
  transition: all .3s ease-in-out;
}
.news-image-card__date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 4.3rem;
  background: #1563B0;
  font-size: 2.2rem;
  color: #ffffff;
  font-family: Times New Roman;
  position: absolute;
  left: 0;
  top: 1.8rem;
}
.news-image-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.news-card {
  position: relative;
}
.news-card:hover .news-card__title {
  color: #DD2400;
}
.news-card:hover .news-card__date {
  color: #DD2400;
}
.news-card--new .news-card__title::before {
  content: "new";
  text-transform: uppercase;
  display: inline-block;
  padding: 1px 6px;
  border-radius: 100px;
  background-color: #DD2400;
  font-size: 1.2rem;
  color: #ffffff;
  margin-right: 1rem;
}
.news-card__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news-card__title {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #2f2f2f;
  transition: all .3s ease-in-out;
}
.news-card__summary {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.4rem;
  color: #5A5A5A;
  margin-top: 1rem;
}
.news-card__date {
  padding-left: 2rem;
  font-size: 1.6rem;
  color: #5A5A5A;
  font-family: Times New Roman;
  transition: all .3s ease-in-out;
}
.news-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.inner-news-card {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card {
    display: block;
  }
}
.inner-news-card:hover .inner-news-card__left p {
  color: #1563B0;
}
.inner-news-card:hover .inner-news-card__left span {
  color: #1563B0;
  border: 1px solid #1563B0;
}
.inner-news-card:hover .inner-news-card__right h2,
.inner-news-card:hover .inner-news-card__right p {
  color: #1563B0;
}
.inner-news-card__left {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 7rem;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__left {
    padding-right: 0;
    flex-direction: row;
  }
}
.inner-news-card__left::after {
  content: "";
  width: 5rem;
  height: 2px;
  background-color: #D1D1D1;
  position: absolute;
  right: 0;
  top: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__left::after {
    display: none;
  }
}
.inner-news-card__left p {
  font-size: 3rem;
  color: #2f2f2f;
}
.inner-news-card__left span {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2f2f2f;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: 1px solid transparent;
  text-align: center;
}
.inner-news-card__medium {
  flex: none;
  padding-left: 2.4rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__medium {
    padding-left: 0;
    margin-bottom: 1rem;
  }
}
.inner-news-card__medium .cover {
  width: 18rem;
  height: 10rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__medium .cover {
    width: auto;
    height: 20rem;
  }
}
.inner-news-card__medium .cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner-news-card__right {
  padding-left: 2.4rem;
  height: 10rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__right {
    padding-left: 0;
  }
}
.inner-news-card__right h2 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #2f2f2f;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-news-card__right h2 {
    margin-bottom: 1rem;
  }
}
.inner-news-card__right p {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.4rem;
  color: #5A5A5A;
}
.inner-news-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.teacher-card {
  position: relative;
  display: flex;
}
.teacher-card__cover {
  flex: none;
  width: 15rem;
  height: 20rem;
}
.teacher-card__info {
  flex: 1;
  padding-left: 3.5rem;
}
.teacher-card__title {
  font-size: 2.4rem;
  color: #1563B0;
  margin-bottom: 1.2rem;
}
.teacher-card__tag {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #1563B0;
  margin-bottom: 0.8rem;
}
.teacher-card__more-box {
  display: flex;
  align-items: center;
}
.teacher-card__more-box::before {
  content: "";
  height: 1px;
  flex: 1;
  border-bottom: 1px solid #1563B0;
}
.teacher-card__more {
  display: block;
  padding: 0 2rem;
  border-radius: 100px;
  line-height: 3rem;
  background: #1563B0;
  font-size: 1.4rem;
  color: #ffffff;
}
.teacher-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.inner-banner {
  height: 45rem;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}
.inner-banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner-banner__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 160rem;
  color: #ffffff;
}
.inner-banner h2 {
  font-size: 4.8rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-banner h2 {
    font-size: 2.8rem;
  }
}
.inner-banner h3 {
  font-size: 3.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media only screen and (max-width: 56.25em) {
  .inner-banner h3 {
    font-size: 1.6rem;
  }
}

.custom-breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.8rem;
  padding: 0 4rem;
  background-color: rgba(20, 20, 20, 0.5);
}
@media only screen and (max-width: 56.25em) {
  .custom-breadcrumb {
    display: none;
  }
}
.custom-breadcrumb .title {
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 900;
}
.custom-breadcrumb .breadcrumb-navs {
  display: flex;
  align-items: center;
}
.custom-breadcrumb .breadcrumb-navs .pos {
  font-size: 1.4rem;
  color: #ffffff;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.custom-breadcrumb .breadcrumb-navs .pos::before {
  content: "";
  font-family: 'iconfont';
  content: "\e60e";
  font-size: 1.4rem;
  color: #ffffff;
  margin-right: 4px;
}
.custom-breadcrumb .breadcrumb-navs nav {
  display: flex;
  align-items: center;
}
.custom-breadcrumb .breadcrumb-navs nav a {
  font-size: 1.4rem;
  color: #ffffff;
  transition: 0.3s;
}
.custom-breadcrumb .breadcrumb-navs nav a::before {
  font-family: "iconfont";
  content: "\e63d";
  margin-right: 0.8rem;
  margin-left: 0.5rem;
}
.custom-breadcrumb .breadcrumb-navs nav a:first-child::before {
  display: none;
}
.custom-breadcrumb .breadcrumb-navs nav a:hover {
  color: #1563B0;
}
.custom-breadcrumb .breadcrumb-navs nav a:hover::before {
  color: #ffffff;
}

.form-item {
  height: 100%;
}
.form-item--error input, .form-item--error textarea {
  outline: 2px solid #F56C6C !important;
}
.form-item--error small {
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
}
.form-item--success input, .form-item--success textarea {
  outline: 2px solid #67C23A !important;
}
.form-item--success small {
  transform: translate3d(0, 0, 0) !important;
  opacity: 1 !important;
}
.form-item input {
  width: 100%;
  padding: 0 2rem;
  height: 100%;
  background: #F1F1F1;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: none;
  outline: none;
  border-radius: 2px;
}
.form-item textarea {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  background: #F1F1F1;
  border-radius: 0px 0px 0px 0px;
  opacity: 1;
  border: none;
  outline: none;
  border-radius: 2px;
}
.form-item a,
.form-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background-color: #1563B0;
  font-size: 1.6rem;
  color: #ffffff;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.form-item a:active,
.form-item button:active {
  filter: brightness(0.8);
}
.form-item small {
  color: #F56C6C;
  transition: all .3s ease-in-out;
  transform: translate3d(0, -10px, 0);
  opacity: 0;
}

.search-input {
  display: flex;
  align-items: center;
}
.search-input__input {
  width: 20rem;
  padding: 0 2rem;
  height: 4rem;
  background: #F1F1F1;
  opacity: 1;
  border: none;
  outline: none;
  border-radius: 2rem 0 0 2rem;
}
.search-input__button {
  transition: all .3s ease-in-out;
  position: relative;
  display: block;
  width: 5rem;
  height: 4rem;
  background-color: #1563B0;
  border-radius: 0 2rem 2rem 0;
}
.search-input__button:hover {
  background-color: #1563B0;
  color: #ffffff;
}
.search-input__button:active {
  filter: brightness(0.8);
}
.search-input__button::after {
  content: "";
  font-family: 'iconfont';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "\e8d6";
  position: absolute;
  font-size: 2rem;
  color: #ffffff;
}

.custom-selector {
  width: 100%;
  height: 4rem;
  position: relative;
}
.custom-selector__input {
  background: rgba(20, 20, 20, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 1000px;
  position: relative;
  color: #1563B0;
}
.custom-selector__input::after {
  position: absolute;
  top: 1.8rem;
  right: 2rem;
  bottom: auto;
  left: auto;
  z-index: 0;
  content: '';
  display: block;
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-top: 8px solid rgba(255, 255, 255, 0.6);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.custom-selector__placeholder {
  width: 100%;
  height: 4rem;
  padding: 0 2rem;
  line-height: 4rem;
  font-size: 1.6rem;
  color: #ffffff;
  overflow: 0.6;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
.custom-selector__options {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 50px;
  left: 0;
  z-index: 999;
  display: none;
  padding: 1rem;
  border-radius: 1rem;
  background: rgba(20, 20, 20, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.custom-selector__options a {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
  border: 4px;
  color: #ffffff;
  line-height: 2;
  transition: 0.1s ease-in-out;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
}
.custom-selector__options a:last-child {
  border-bottom: none;
}
.custom-selector__options a:hover {
  background-color: #1563B0;
  color: #ffffff;
}

.back-top-menu {
  position: fixed;
  top: auto;
  right: 2rem;
  bottom: 8rem;
  left: auto;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 3px solid #1563B0;
  border-radius: 50%;
  background-color: #1563B0;
  color: #ffffff;
  transition: 0.3s cubic-bezier(0.53, -0.31, 0.56, 2.18);
  transform: translate3d(50px, 0, 0);
  opacity: 0;
  cursor: pointer;
}
.back-top-menu .iconfont {
  font-size: 20px;
}
.back-top-menu.show {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.back-top-menu:hover {
  background-color: #1563B0;
  border: 3px solid #1563B0;
}

div.pb_sys_common.pb_sys_normal.pb_sys_style1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages .p_fun_d {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f5;
  color: #606266;
  transition: 0.3s;
  cursor: pointer;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages .p_fun_d:hover {
  color: #1563B0;
}
@media only screen and (max-width: 56.25em) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages .p_fun_d {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no_d {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  color: #2f2f2f;
  transition: 0.3s;
  background-color: #1563B0;
  color: #ffffff;
}
@media only screen and (max-width: 56.25em) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no_d {
    display: none;
  }
}
@media only screen and (max-width: 56.25em) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no {
    display: none;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no a {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f5;
  color: #606266;
  transition: 0.3s;
  cursor: pointer;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no a:hover {
  color: #1563B0;
}
@media only screen and (max-width: 56.25em) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_no a {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_dot {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f5;
  color: #606266;
  transition: 0.3s;
  cursor: pointer;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_dot:hover {
  color: #1563B0;
}
@media only screen and (max-width: 56.25em) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_dot {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 56.25em) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages span.p_dot {
    display: none;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages .p_fun a {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #f4f4f5;
  color: #606266;
  transition: 0.3s;
  cursor: pointer;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages .p_fun a:hover {
  color: #1563B0;
}
@media only screen and (max-width: 56.25em) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_pages .p_fun a {
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_t {
  font-size: 12px;
  color: #5A5A5A;
  line-height: 26px;
  padding: 0 10px;
}
@media only screen and (max-width: 56.25em) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_t {
    display: none;
  }
}
@media only screen and (max-width: 56.25em) {
  div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_goto {
    display: none;
  }
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_goto input#u6_goto.p_goto_input {
  width: 40px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  text-align: center;
  font-size: 12px;
  color: #5A5A5A;
}
div.pb_sys_common.pb_sys_normal.pb_sys_style1 span.p_goto a {
  display: block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 4px;
  font-size: 12px;
  color: #2f2f2f;
  transition: 0.3s;
  background-color: #1563B0;
  color: #ffffff;
}

.popover {
  position: relative;
  display: inline-block;
}
.popover__title {
  display: inline-block;
}
.popover__content {
  position: absolute;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  right: 0;
  bottom: 0;
  z-index: 999;
  transform: translate3d(0, 110%, 0);
}

.container {
  max-width: 160rem;
  padding: 0 8rem;
  margin: 0 auto;
}
@media only screen and (max-width: 56.25em) {
  .container {
    padding: 0 3rem;
  }
}

.row {
  max-width: 160rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}
.row .col-1-of-5 {
  width: calc((100% - 4 * 6rem) / 5);
}
.row .col-2-of-5 {
  width: calc(2 * ((100% - 5 * 6rem) / 5) + 6rem);
}
.row .col-3-of-5 {
  width: calc(3 * ((100% - 5 * 6rem) / 5) + 2 * 6rem);
}
.row .col-4-of-5 {
  width: calc(4 * ((100% - 4 * 6rem) / 5) + 3 * 6rem);
}

.gallery {
  display: grid;
  grid-template-rows: repeat(4, 5rem);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .gallery {
    grid-template-rows: repeat(5, 5rem);
  }
}
.gallery__item--1 {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }
}
.gallery__item--2 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }
}
.gallery__item--3 {
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--3 {
    grid-row: 3 / span 2;
  }
}
.gallery__item--4 {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
}
@media only screen and (max-width: 56.25em) {
  .gallery__item--4 {
    grid-row: 5 / span 1;
  }
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2rem;
  margin-right: -2rem;
}
.card-row .card-col {
  box-sizing: border-box;
  padding: 2rem;
  width: 33.33%;
}
@media only screen and (max-width: 56.25em) {
  .card-row .card-col {
    width: 100%;
  }
}

.header {
  height: 13rem;
  background: url(../images/header-bg.png) no-repeat center center/cover;
  border-bottom: 7px solid #1563B0;
}
@media only screen and (max-width: 75em) {
  .header {
    height: 10rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 99999;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    height: 6rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    z-index: 99999;
  }
}
.header__container {
  height: 100%;
  padding: 0 5.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .header__container {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__container {
    padding: 0 1rem;
  }
}
.header__left {
  flex: none;
}
.header__logo img {
  display: block;
  width: 44rem;
  height: 8.2rem;
}
@media only screen and (max-width: 75em) {
  .header__logo img {
    width: 40rem;
    height: auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo img {
    width: 20rem;
  }
}
.header__right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__menus-open {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  right: 10rem;
  width: 6rem;
  height: 6rem;
  font-size: 4rem;
  color: #ffffff;
  line-height: 6rem;
  text-align: center;
}
@media only screen and (max-width: 75em) {
  .header__menus-open {
    display: block;
  }
}
@media only screen and (max-width: 75em) {
  .header__menus-open {
    font-size: 3rem;
    right: 7rem;
  }
}
.header__menus-close {
  font-size: 4rem;
  color: #ffffff;
  position: absolute;
  left: 2rem;
  top: 1rem;
  display: none;
}
@media only screen and (max-width: 75em) {
  .header__menus-close {
    display: block;
  }
}
.header__menus {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 75em) {
  .header__menus {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(20, 20, 20, 0.8);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    transition: all .3s ease-in-out;
    justify-content: center;
    align-items: center;
  }
}
.header__menus.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.header__nav-open {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  right: 3rem;
  width: 6rem;
  height: 6rem;
  font-size: 4rem;
  color: #ffffff;
  line-height: 6rem;
  text-align: center;
  display: none;
}
@media only screen and (max-width: 75em) {
  .header__nav-open {
    display: block;
  }
}
@media only screen and (max-width: 75em) {
  .header__nav-open {
    font-size: 3rem;
    right: 1rem;
  }
}
.header__nav-close {
  font-size: 4rem;
  color: #ffffff;
  position: absolute;
  left: 2rem;
  top: 1rem;
  display: none;
}
@media only screen and (max-width: 75em) {
  .header__nav-close {
    display: block;
  }
}
@media only screen and (max-width: 75em) {
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(20, 20, 20, 0.8);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
    transition: all .3s ease-in-out;
  }
}
.header__nav.active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.web-menus {
  height: 4.6rem;
  padding: 0 2.5rem;
  background: #1563B0;
  border-radius: 0px 0px 1.5rem 1.5rem;
  margin-top: 1rem;
}
@media only screen and (max-width: 75em) {
  .web-menus {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: transparent;
  }
}
.web-menus > *:not(:last-child) {
  margin-right: 2rem;
}
.web-menus__item {
  font-size: 1.4rem;
  color: #ffffff;
  line-height: 4.6rem;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
@media only screen and (max-width: 75em) {
  .web-menus__item {
    font-size: 2rem;
    line-height: 7rem;
  }
}
.web-menus__item:hover {
  color: #DD2400;
}
.web-menus .divider {
  width: 1px;
  height: 1.5rem;
  border-left: 1px solid #ffffff;
}
@media only screen and (max-width: 75em) {
  .web-menus .divider {
    display: none;
  }
}

@media only screen and (max-width: 75em) {
  .web-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    z-index: 99999;
    width: 35rem;
    background-color: #1563B0;
    overflow-y: auto;
  }
}
.web-nav__1-list {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 75em) {
  .web-nav__1-list {
    display: block;
  }
}
.web-nav__1-item {
  list-style: none;
  position: relative;
}
.web-nav__1-link {
  display: block;
  height: 5.5rem;
  padding: 0 2rem;
  border-radius: 1rem 1rem 0 0;
  font-size: 1.8rem;
  line-height: 5rem;
  color: #ffffff;
  background: transparent;
}
@media only screen and (max-width: 75em) {
  .web-nav__1-link {
    padding: 0 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0;
    height: auto;
    line-height: 7rem;
  }
}
.web-nav__1-link.active {
  color: #1563B0;
  font-weight: 600;
  background: linear-gradient(to bottom, #ffffff, transparent);
}
.web-nav__1-link--arrow::after {
  content: "";
  font-family: 'iconfont';
  content: "\eb6d";
}
@media only screen and (max-width: 75em) {
  .web-nav__1-link--arrow::after {
    display: none;
  }
}
.web-nav__1-open {
  display: none;
}
@media only screen and (max-width: 75em) {
  .web-nav__1-open {
    position: absolute;
    right: 0;
    top: 0.5rem;
    display: block;
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    line-height: 6rem;
  }
}
.web-nav__2-list {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 9999;
  padding: 1rem 0;
  border-radius: 0 0 1rem 1rem;
  background-color: #ffffff;
  display: none;
  top: 5.5rem;
}
@media only screen and (max-width: 75em) {
  .web-nav__2-list {
    position: static;
    padding-left: 4rem;
    background-color: transparent;
  }
}
.web-nav__2-item {
  list-style: none;
  position: relative;
}
.web-nav__2-link {
  display: block;
  padding: 0.5rem 2rem;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #2f2f2f;
  white-space: nowrap;
}
@media only screen and (max-width: 75em) {
  .web-nav__2-link {
    color: #ffffff;
    line-height: 5rem;
  }
}
.web-nav__2-link:hover {
  color: #ffffff;
  font-weight: 600;
  background: #1563B0;
}
.web-nav__2-link--arrow::after {
  content: "";
  font-family: 'iconfont';
  content: "\e63d";
}
@media only screen and (max-width: 75em) {
  .web-nav__2-link--arrow::after {
    display: none;
  }
}
.web-nav__2-open {
  display: none;
}
@media only screen and (max-width: 75em) {
  .web-nav__2-open {
    position: absolute;
    right: 0;
    top: 0.5rem;
    display: block;
    width: 6rem;
    height: 4rem;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    line-height: 4rem;
  }
}
.web-nav__3-list {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 100%;
  z-index: 9999;
  padding: 1rem 0;
  border-radius: 0 0 1rem 1rem;
  background-color: #ffffff;
  display: none;
  border-left: 1px solid rgba(21, 99, 176, 0.1);
}
@media only screen and (max-width: 75em) {
  .web-nav__3-list {
    position: static;
    padding-left: 6rem;
    border-left: none;
    background-color: transparent;
  }
}
.web-nav__3-link {
  display: block;
  padding: 0.5rem 2rem;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #2f2f2f;
  white-space: nowrap;
}
@media only screen and (max-width: 75em) {
  .web-nav__3-link {
    color: #ffffff;
    line-height: 5rem;
  }
}
.web-nav__3-link:hover {
  color: #ffffff;
  font-weight: 600;
  background: #1563B0;
}

.footer__main {
  padding: 6rem 0;
  background: url(../images/footer-bg.png) no-repeat center center/cover;
}
.footer__heading {
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  color: #ffffff;
}
.footer__heading .iconfont {
  font-size: 2.8rem;
  margin-right: 1rem;
}
.footer__heading p {
  position: relative;
}
.footer__heading p::after {
  content: "";
  display: block;
  height: 1.5rem;
  background: #FFFFFF;
  opacity: 0.3;
  border-radius: 1000px;
  position: absolute;
  left: -5px;
  right: -5px;
  top: 2.6rem;
}
.footer__fast-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  border-right: 1px solid rgba(209, 209, 209, 0.4);
}
@media only screen and (max-width: 56.25em) {
  .footer__fast-links {
    border-right: none;
  }
}
.footer__fast-links a {
  width: 33.33%;
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 1rem;
}
.footer__fast-links a::before {
  content: "·";
  margin-right: 0.5rem;
}
.footer__qr {
  margin-top: 3rem;
}
.footer__qr img {
  display: block;
  width: 13rem;
  height: 13rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__qr img {
    margin: 0 auto;
  }
}
.footer__selector {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-3rem / 2);
  padding-right: 2rem;
  margin-top: 3rem;
  border-right: 1px solid rgba(209, 209, 209, 0.4);
}
.footer__selector > .item {
  list-style: none;
  padding: calc(3rem / 2);
  width: calc((1 / 2) * 100%);
}
@media only screen and (max-width: 75em) {
  .footer__selector > .item {
    width: calc((1 / 1) * 100%);
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__selector > .item {
    width: calc((1 / 1) * 100%);
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__selector {
    border-right: none;
    padding-right: 0;
  }
}
.footer__copyright {
  padding: 2.5rem;
  background-color: #00204E;
}
.footer__copyright p {
  max-width: 70rem;
  font-size: 1.4rem;
  line-height: 2;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.inner-page {
  top: -5.8rem;
  position: relative;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-page {
    top: 2rem;
  }
}
.inner-page__wrapper {
  display: flex;
}
.inner-page__left {
  flex: none;
}
@media only screen and (max-width: 56.25em) {
  .inner-page__left {
    display: none;
  }
}
.inner-page__medium {
  flex: 1;
  overflow: hidden;
}
.inner-page__medium--bottom {
  padding-left: 4rem;
}
.inner-page__medium--bottom.pl-0 {
  padding-left: 0;
}
@media only screen and (max-width: 56.25em) {
  .inner-page__medium--bottom {
    padding-left: 0;
  }
}
.inner-page__right {
  flex: none;
}

.flex-row {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .flex-row {
    display: block;
  }
}
.flex-row--auto {
  flex: 1;
  padding-right: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .flex-row--auto {
    padding-right: 0;
  }
}
.flex-row--static {
  flex: none;
}

.side-bar {
  flex: none;
  width: 300px;
  position: relative;
  overflow: hidden;
  top: -3.4rem;
}
@media only screen and (max-width: 75em) {
  .side-bar {
    width: 24rem;
  }
}
.side-bar__heading {
  line-height: 9rem;
  padding-left: 4rem;
  background: #1563B0;
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 2rem;
  position: relative;
}
.side-bar__heading::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -1.4rem;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 1.6rem solid #1563B0;
  border-left: 1.4rem solid transparent;
  border-right: 1.4rem solid transparent;
}
.side-bar__footer-img {
  display: block;
  width: 100%;
  margin-top: 30px;
}

.side-nav__1-item {
  list-style: none;
  position: relative;
}
.side-nav__1-item.active > .side-nav__2-list {
  display: block;
}
.side-nav__1-item.active > .side-nav__1-link {
  color: #ffffff;
  font-weight: 600;
  background: #1D6FC0 url(../images/side-nav-bg.png) no-repeat 100% 0/contain;
}
.side-nav__1-item.active > .side-nav__1-link::before {
  background-color: #ffffff;
}
.side-nav__1-item.active > .side-nav__1-link::after {
  content: "\e6b5";
}
.side-nav__1-link {
  position: relative;
  display: block;
  padding: 0 2rem;
  padding-left: 4rem;
  font-size: 1.8rem;
  line-height: 6.8rem;
  color: #2f2f2f;
  background: #E2EAF3;
  border-bottom: 1px solid #ffffff;
}
.side-nav__1-link::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  left: 2rem;
  content: "";
  display: inline-block;
  width: 3px;
  height: 1.8rem;
  background-color: #1563B0;
}
.side-nav__1-link::after {
  content: "";
  font-family: 'iconfont';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  right: 2rem;
  content: "\e829";
}
.side-nav__1-open {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.side-nav__2-list {
  background-color: #ffffff;
  display: none;
}
.side-nav__2-item {
  list-style: none;
  position: relative;
}
.side-nav__2-item.active > .side-nav__3-list {
  display: block;
}
.side-nav__2-item.active > .side-nav__2-link {
  color: #1563B0;
  font-weight: 600;
  background: #a7c4e3;
}
.side-nav__2-item.active > .side-nav__2-link::after {
  opacity: 1;
}
.side-nav__2-link {
  display: block;
  padding: 0.5rem 2rem;
  padding-left: 5rem;
  font-size: 1.6rem;
  line-height: 5.4rem;
  color: #2f2f2f;
  white-space: nowrap;
  background-color: #c4dcee;
  border-bottom: 1px solid #ffffff;
}
.side-nav__2-link::after {
  content: "";
  font-family: 'iconfont';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  right: 2rem;
  content: "\e63d";
  opacity: 0;
}
.side-nav__3-list {
  padding: 1rem 0;
  background-color: #ffffff;
}
.side-nav__3-link {
  display: block;
  padding: 0.5rem 2rem;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #2f2f2f;
  white-space: nowrap;
}
.side-nav__3-link:hover {
  color: #ffffff;
  font-weight: 600;
  background: #1563B0;
}

.section-banner {
  position: relative;
  overflow: hidden;
}
.section-banner .swiper-slide {
  width: 82vw;
}
.section-banner .swiper-slide img {
  display: block;
  width: 100%;
}
.section-banner .swiper-pagination {
  bottom: 2.5rem;
}
.section-banner .swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  opacity: 1;
  background-color: #ffffff;
  margin: 0 0.6rem !important;
}
.section-banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #1563B0;
}
.section-banner__button {
  width: 8.5vw;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
.section-banner__button .iconfont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: #ffffff;
  opacity: .8;
  cursor: pointer;
}
.section-banner__button .iconfont:hover {
  opacity: 1;
}
.section-banner__button--prev {
  left: 0;
  text-align: right;
}
.section-banner__button--prev .iconfont {
  left: 65%;
}
.section-banner__button--next {
  right: 0;
  text-align: left;
}
.section-banner__button--next .iconfont {
  left: 35%;
}

.section-news {
  padding: 5rem 0;
}
.section-news__top {
  margin-bottom: 2.3rem;
}
.section-news__list {
  border-top: 1px solid #D1D1D1;
}
.section-news__item {
  list-style: none;
  margin-top: 2.3rem;
}
.section-news__left {
  position: relative;
}
.section-news img {
  display: block;
  width: 100%;
}
.section-news .thum-swiper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8rem;
  z-index: 999;
  padding: 1.7rem 10rem;
  background-color: rgba(20, 20, 20, 0.5);
}
@media only screen and (max-width: 56.25em) {
  .section-news .thum-swiper {
    padding: 1.7rem 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-news .thum-swiper {
    padding: 1rem 2rem;
  }
}
.section-news .thum-swiper__button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  z-index: 1000;
  transition: all .3s ease-in-out;
}
.section-news .thum-swiper__button:hover {
  background-color: #1563B0;
}
@media only screen and (max-width: 56.25em) {
  .section-news .thum-swiper__button {
    display: none;
  }
}
.section-news .thum-swiper__button .iconfont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #ffffff;
  opacity: .8;
  cursor: pointer;
}
.section-news .thum-swiper__button .iconfont:hover {
  opacity: 1;
}
.section-news .thum-swiper__button--prev {
  left: 3.5rem;
}
.section-news .thum-swiper__button--next {
  right: 3.5rem;
}
.section-news .mySwiper {
  padding: 4px;
  overflow: hidden;
}
.section-news .mySwiper .swiper-slide-thumb-active {
  outline: 4px solid #1563B0;
}

.section-research {
  padding: 5rem 0;
}

.section-class {
  padding: 5rem 0;
}

.section-notice {
  padding: 5rem 0;
}

.section-websit {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.home-swiper {
  position: relative;
}
.home-swiper .swiper {
  overflow: visible;
  overflow-x: hidden;
  position: static;
  padding: 4rem 0;
}
.home-swiper .swiper .swiper-slide a {
  display: block;
}
.home-swiper .swiper .swiper-slide img {
  display: block;
  width: 100%;
}
.home-swiper .swiper .swiper-pagination {
  bottom: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-swiper .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 2.7rem;
  height: 2.2rem;
  opacity: 1;
  background: url(../images/fish.png) no-repeat center center/cover;
  margin: 0 1rem !important;
  transition: all .3s ease-in-out;
}
.home-swiper .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 3.4rem;
  height: 2.9rem;
  background: url(../images/fish-light.png) no-repeat center center/cover;
}
.home-swiper__button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid #1563B0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  bottom: 0;
  z-index: 999;
}
@media only screen and (max-width: 56.25em) {
  .home-swiper__button {
    display: none;
  }
}
.home-swiper__button .iconfont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #1563B0;
  opacity: .8;
  cursor: pointer;
}
.home-swiper__button .iconfont:hover {
  opacity: 1;
}
.home-swiper__button--prev {
  left: -6.5rem;
  text-align: right;
}
.home-swiper__button--next {
  right: -6.5rem;
  text-align: left;
}

.website-tab__title {
  display: flex;
  position: absolute;
  left: 26rem;
  top: 1.2rem;
}
@media only screen and (max-width: 75em) {
  .website-tab__title {
    left: 0;
    top: auto;
    bottom: -4rem;
  }
}
.website-tab__title p {
  padding: 0 2rem;
  border-radius: 100px;
  font-size: 1.4rem;
  line-height: 3.2rem;
  color: #1563B0;
  background-color: #EBEBEB;
  cursor: pointer;
}
.website-tab__title p.active {
  background-color: #1563B0;
  color: #ffffff;
  box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.34);
}
.website-tab__title p:not(:last-child) {
  margin-right: 1.2rem;
}
.website-tab__list li {
  list-style: none;
  display: none;
}
.website-tab__list li.active {
  display: block;
}

.inner-news-list .item {
  list-style: none;
  padding: 4rem 0;
  border-bottom: 1px solid #D1D1D1;
}

.static-banner img {
  display: block;
  width: 100%;
}

.article-details {
  padding: 2rem 0;
  background-color: #ffffff;
}
@media only screen and (max-width: 56.25em) {
  .article-details {
    padding: 2rem 0;
  }
}
.article-details__heading {
  padding: 2rem 0;
  font-size: 2.4rem;
  font-weight: 600;
  color: #1563B0;
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .article-details__heading {
    font-size: 1.8rem;
  }
}
.article-details__describe {
  display: flex;
  justify-content: center;
  padding: 16px;
  border-top: 1px solid rgba(20, 20, 20, 0.35);
  border-bottom: 1px solid rgba(20, 20, 20, 0.35);
  margin-bottom: 20px;
}
@media only screen and (max-width: 56.25em) {
  .article-details__describe {
    display: none;
  }
}
.article-details__tag {
  font-size: 12px;
  color: #5A5A5A;
  margin: 0 1rem;
}
.article-details__content p {
  font-size: 1.6rem;
  line-height: 1.8;
}
.article-details__content img {
  display: inline-block;
  max-width: 100%;
  margin: 20px 0;
}

.article-details-pagination {
  padding: 20px 40px;
  border-top: 1px solid #e7e7e7;
}
@media only screen and (max-width: 56.25em) {
  .article-details-pagination {
    display: block;
    padding: 10px 0;
  }
}
.article-details-pagination__button {
  display: block;
  padding: 10px 0;
  font-size: 16px;
  color: #1563B0;
}

.inner-publish {
  width: 32rem;
  margin-top: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .inner-publish {
    display: none;
  }
}
.inner-publish__heading {
  line-height: 5.5rem;
  padding-left: 2rem;
  background-color: #1563B0;
  font-size: 2rem;
  color: #ffffff;
}
.inner-publish__list {
  padding: 2rem;
  background-color: #EDEDED;
}
.inner-publish__list .item {
  list-style: none;
}
.inner-publish__list .item:not(:last-child) {
  margin-bottom: 2rem;
}
.inner-publish__list .item a {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.6rem;
  color: #2f2f2f;
  margin-bottom: 1rem;
}
.inner-publish__list .item span {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #5A5A5A;
}
.inner-publish__list .item span::after {
  content: "";
  flex: 1;
  height: 1px;
  border-bottom: 1px solid #D1D1D1;
  margin-left: 1rem;
}

.article-pagination {
  width: 32rem;
  margin-top: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .article-pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 37.5em) {
  .article-pagination {
    width: 100%;
    display: block;
  }
}
.article-pagination__button {
  display: block;
  padding: 2rem 3rem;
  background-color: #EDEDED;
  border-top: 3px solid #1563B0;
  font-size: 1.6rem;
  color: #2f2f2f;
  margin-bottom: 2rem;
}
.article-pagination__button strong {
  display: block;
  font-size: 1.6rem;
  color: #1563B0;
  margin-bottom: 1rem;
}

.inner-teacher-list {
  padding: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  margin: calc(-6rem / 2);
}
.inner-teacher-list > .item {
  list-style: none;
  padding: calc(6rem / 2);
  width: calc((1 / 2) * 100%);
}
@media only screen and (max-width: 75em) {
  .inner-teacher-list > .item {
    width: calc((1 / 2) * 100%);
  }
}
@media only screen and (max-width: 56.25em) {
  .inner-teacher-list > .item {
    width: calc((1 / 1) * 100%);
  }
}

.search-query {
  padding: 0 2rem;
  background-color: #E2EAF3;
}
.search-query__item {
  display: flex;
  padding: 1rem 0;
}
.search-query__item:not(:last-child) {
  border-bottom: 1px solid rgba(209, 209, 209, 0.4);
}
@media only screen and (max-width: 56.25em) {
  .search-query__item {
    display: block;
  }
}
.search-query__item h4 {
  width: 12rem;
  flex: none;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #1563B0;
  margin: 0.4rem 0;
}
.search-query__item nav {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.search-query__item nav span {
  padding: 0 2rem;
  border-radius: 100px;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #5A5A5A;
  margin: 0.4rem;
  cursor: pointer;
}
.search-query__item nav span.active {
  color: #1563B0;
  outline: 1px solid #1563B0;
}
