.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;

  &__back {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color: #BCB7B0;
    position: relative;

    &::after {
      @include iconfont;
      @include absCenter;
      content: "\e7f1";
      font-size: 1.4rem;
      color: $color-white;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    color: #BCB7B0;
    padding-left: 1.8rem;
  }

  &__list>* {
    margin-right: 1rem;
  }

  &__title,
  &__nav {
    font-size: 1.4rem;
    color: currentColor;

    &.active {
      color: $color-primary;
    }
  }

  &__nav {
    &:hover {
      color: $color-content;
    }

    &.active {
      color: $color-primary;

      &:hover {
        color: $color-primary;
      }

    }
  }

  &__icon {
    &::after {
      @include iconfont;
      content: "\e7eb";
      color: currentColor;
    }
  }
}
