// 面包屑
.custom-breadcrumb {
  @include flex-row-sb;
  height: 5.8rem;
  padding: 0 4rem;
  background-color: rgba($color: $color-black, $alpha: 0.5);

  .title {
    font-size: 2.4rem;
    color: $color-white;
    font-weight: 900;
  }

  .breadcrumb-navs {
    display: flex;
    align-items: center;

    .pos {
      font-size: 1.4rem;
      color: $color-white;
      margin-right: 1rem;
      display: flex;
      align-items: center;

      &::before {
        @include iconfont;
        content: "\e60e";
        font-size: 1.4rem;
        color: $color-white;
        margin-right: 4px;
      }
    }

    nav {
      display: flex;
      align-items: center;

      a {
        font-size: 1.4rem;
        color: $color-white;
        transition: 0.3s;

        &::before {
          font-family: "iconfont";
          content: "\e63d";
          margin-right: 0.8rem;
          margin-left: 0.5rem;
        }

        &:first-child {
          &::before {
            display: none;
          }
        }

        &:hover {
          color: $color-primary;

          &::before {
            color: $color-white;
          }
        }
      }
    }
  }
}
