// 返回按钮
.back-top-menu {
  @include fixed(auto, 2rem, 8rem, auto, 9999);
  @include flex-row-center;
  width: 40px;
  height: 40px;
  border: 3px solid $color-primary;
  border-radius: 50%;
  background-color: $color-primary;
  color: $color-white;
  transition: 0.3s cubic-bezier(0.53, -0.31, 0.56, 2.18);
  transform: translate3d(50px, 0, 0);
  opacity: 0;
  cursor: pointer;

  .iconfont {
    font-size: 20px;
  }

  &.show {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  &:hover {
    background-color: $color-primary;
    border: 3px solid $color-primary;
  }
}
