.popover {
  position: relative;
  display: inline-block;

  &__title {
    display: inline-block;
  }

  &__content {
    position: absolute;
    padding: 20px;
    background-color: rgba($color: #000000, $alpha: .6);
    border-radius: 4px;
    right: 0;
    bottom: 0;
    z-index: 999;
    transform: translate3d(0, 110%, 0);
  }
}
