@font-face {
  font-family: "iconfont"; /* Project id 2328096 */
  src: url('iconfont.woff2?t=1659075593595') format('woff2'),
       url('iconfont.woff?t=1659075593595') format('woff'),
       url('iconfont.ttf?t=1659075593595') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zengjia:before {
  content: "\e8c8";
}

.icon-jiaolian1:before {
  content: "\e69d";
}

.icon-yingyu:before {
  content: "\e652";
}

.icon-jiaoshi:before {
  content: "\e637";
}

.icon-dengzi2:before {
  content: "\e8b9";
}

.icon-hezuoguanxi:before {
  content: "\e8a9";
}

.icon-bigdata:before {
  content: "\e854";
}

.icon-gengduo-2:before {
  content: "\e674";
}

.icon-tuandui:before {
  content: "\e62d";
}

.icon-ren:before {
  content: "\e622";
}

.icon-_rengongzhineng:before {
  content: "\e612";
}

.icon-w_xuexiao:before {
  content: "\e67d";
}

.icon-jiantou_qiehuanyou:before {
  content: "\eb05";
}

.icon-jiantou_qiehuanzuo:before {
  content: "\eb06";
}

.icon-jiantou_qiehuanyou_o:before {
  content: "\eb8d";
}

.icon-jiantou_qiehuanzuo_o:before {
  content: "\eb90";
}

.icon-goldcup:before {
  content: "\e621";
}

.icon-xianweijing:before {
  content: "\e630";
}

.icon-chucunshujushujuku:before {
  content: "\e61a";
}

.icon-home:before {
  content: "\e60e";
}

.icon-jiantou_xiangyou_o:before {
  content: "\eb94";
}

.icon-24gf-school:before {
  content: "\e83d";
}

.icon-tupian:before {
  content: "\e6df";
}

.icon-jiantouhong:before {
  content: "\e60d";
}

.icon-dianziyiqi:before {
  content: "\e65b";
}

.icon-fenzuguanli:before {
  content: "\ec23";
}

.icon-anquan:before {
  content: "\e817";
}

.icon-daiyuyue:before {
  content: "\e609";
}

.icon-reduce1:before {
  content: "\e6b5";
}

.icon-plus:before {
  content: "\e829";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-zuojiantou_huaban:before {
  content: "\e63c";
}

.icon-youjiantou_huaban:before {
  content: "\e63d";
}

.icon-jiaoshiguanli:before {
  content: "\e606";
}

.icon-a-zaixianxuexikaoshipeixunkecheng-62:before {
  content: "\e8d4";
}

.icon-tushu:before {
  content: "\e603";
}

.icon-beizhu:before {
  content: "\e615";
}

.icon-boshimao:before {
  content: "\e604";
}

.icon-yanjiuchuangxinnengli:before {
  content: "\e611";
}

.icon-hetongdengji:before {
  content: "\e667";
}

.icon-huojiangdengji:before {
  content: "\e671";
}

.icon-jurassic_book:before {
  content: "\e697";
}

.icon-gongwenbao:before {
  content: "\e66b";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-daohang:before {
  content: "\e63b";
}

.icon-zhuanti:before {
  content: "\e650";
}

.icon-yanjiusheng:before {
  content: "\e607";
}

.icon-zhutihuodong:before {
  content: "\e67e";
}

.icon-huaban:before {
  content: "\e61b";
}

.icon-wenhuahuodong:before {
  content: "\e602";
}

.icon-dictionary-fill:before {
  content: "\e61d";
}

.icon-zhaopinshenqing:before {
  content: "\e60b";
}

.icon-kejipeixun:before {
  content: "\e73c";
}

.icon-mimadenglu:before {
  content: "\e661";
}

.icon-xialingyingicon-56:before {
  content: "\e60a";
}

.icon-dizhi1:before {
  content: "\e601";
}

.icon-rili:before {
  content: "\e600";
}

.icon-w_xuesheng-:before {
  content: "\e67c";
}

.icon-youjiantou:before {
  content: "\e624";
}

.icon-daigonggao:before {
  content: "\e62f";
}

.icon-xinwen:before {
  content: "\e669";
}

.icon-huiyiguanli_1:before {
  content: "\e7b1";
}

.icon-yingwen:before {
  content: "\e6c1";
}

.icon-weixin:before {
  content: "\e63f";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-youxiang:before {
  content: "\e608";
}

