// url('../font-family/SourceHanSerifCN-Bold-2.otf'),
// url('../font-family/SourceHanSerifCN-ExtraLight-3.otf'),
// url('../font-family/SourceHanSerifCN-Heavy-4.otf'),
// url('../font-family/SourceHanSerifCN-Light-5.otf'),
// url('../font-family/SourceHanSerifCN-Medium-6.otf'),
// url('../font-family/SourceHanSerifCN-Regular-1.otf'),
// url('../font-family/SourceHanSerifCN-SemiBold-7.otf');

// @font-face{
//   font-family: fontHeavy;
//   src: url('../font-family/SourceHanSerifCN-Bold-2.otf');
// }

// @font-face{
//   font-family: fontNormal;
//   src: url('../font-family/SourceHanSerifCN-Medium-6.otf');
// }

// @font-face{
//   font-family: fontLight;
//   src: url('../font-family/SourceHanSerifCN-Light-5.otf');
// }

body {
  font-family: fontNormal;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
}

h1,
h2,
h3,
h4 {
  font-family: fontHeavy;
}

// 移动端出现，PC隐藏
.only-mobile {
  display: none;

  @include respond(tab-port) {
    display: block;
  }
}

// PC隐藏，移动端出现
.only-pc {
  display: block;

  @include respond(tab-port) {
    display: none;
  }
}


.heading-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
  position: relative;
}

.heading {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 23.4rem;
    height: 6.7rem;
    background: url(../images/heading-bg.png) no-repeat center center / cover;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
    z-index: 0;
  }

  .iconfont {
    font-size: 3.2rem;
    color: $color-primary;
  }

  &__text {
    font-size: 3.2rem;
    color: $color-title;
    font-weight: 600;
    margin-left: 0.5rem;
    line-height: 1;
  }
}

.card {
  .cover {
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s ease-in-out;
    }
  }

  &:hover .cover{
    img {
      transform: scale(1.1);
    }
  }
}

.test-blank {
  height: 200px;
  background-color: red;
}
